<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/youeele/ios-app/blob/4acd483ca4b725dcc8b70c5b6b0584aab60ceed5/%E5%B7%A5%E7%A8%8B%E7%AE%A1%E7%90%86.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/youeele/ios-app/blob/4acd483ca4b725dcc8b70c5b6b0584aab60ceed5/icon_gaitubao_57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/youeele/ios-app/blob/4acd483ca4b725dcc8b70c5b6b0584aab60ceed5/icon.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>95H996GE8X</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
